<!DOCTYPE html>
<title>{% block title %} Inicio {% endblock %}</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
<script src="/static/js/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
  <div class ="navbar">
    <div class="logo"></div>

    <nav>
        <ul>
        {% if g.user %}

          <li><span class="usuario">{{ g.user['username'] }}</span></li>
          <li><a class="boton" href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
          <li><a class="boton">Chat</a></li>
          <li><a class="btn" id="botonalert">Alerta</a></li>
        {% else %}
  
          <li><a class="boton" href="{{ url_for('auth.register') }}">Registrarse</a></li>
          <li><a class="boton" href="{{ url_for('auth.login') }}">Iniciar Sesión</a></li>
          
        
        {% endif %}
        </ul>    
    </nav>
  </div>
  
  <div class="Reloj">
    <iframe
      src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FBogota"></iframe>
  </div>

  <div class= "contentb">
    <h1>Donde no se honra a los ancianos,<br>
       no hay futuro para los jovenes</h1>
    <p>PAPA FRANCISCO</p>
    <!--<div class="imp_res"></div>-->
  </div>
  
  <section class="content">
    <header>{% block header %}{% endblock %}</header>
    {% for message in get_flashed_messages() %}
    <div class="flash">
      <h3>{{ message }}</h3>
    </div>
    {% endfor %} {% block content %}{% endblock %}
  </section>

  
</body>