{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %} Actividades físicas {% endblock %}</h1>
{% endblock %} {% block content %}
<div id="Ejercicios-subtitulos">
  <div class="centrar">
    <section class="Contenedor">
      <div class="Columna brujula" id="brujula">
        <p>
          <a> La brújula </a>
        </p>
      </div>

      <div id="Aros" class="Columna aros">
        <p>Lanzamiento de aros</p>
      </div>

      <div id="Pelota" class="Columna pelota">
        <p>La pelota</p>
      </div>
    </section>
  </div>
  <div class="centrar">
    <section class="Contenedor">
      <div id="espejito" class="Columna espejo">
        <p>Espejito Espejito</p>
      </div>

      <div id="Estatua" class="Columna estatua">
        <p>Estatua en movimiento</p>
      </div>
    </section>
  </div>

</div>

<!---------------------BRUJULA--------------------->

<div id="brujulacontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">La Brújula</h1>


  <div class="textoejercicios"> En este sencillo juego físico-recreativo, hay una persona que dirige al grupo. En voz alta dice un punto
    cardinal y,
    acto seguido, los participantes deben señalar con el dedo dónde se encuentra ese punto. De este modo, si dice por
    ejemplo «sur»,
    las personas mayores deben apuntar en esa dirección. Quien no acierte queda eliminado del juego, que terminará
    cuando solo quede un jugador.</div>

  <br>

  <div><video controls="true"  id="vidbrujula" class="videos" src="../../static/videos/labrujula.mp4"></video>
    
  </div>


</div>
<!---------------------BRUJULA--------------------->


<!---------------------AROS--------------------->
<div id="aroscontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Lanzamiento de Aros</h1>


  <div class="textoejercicios">Con este juego se busca mejorar la fuerza, la destreza y la visión. Para ello, en el suelo se dibujan unas marcas
    que corresponden a diferente puntuación (2, 4 y 5 puntos por ejemplo). El juego consistirá en lanzar 5 aros pequeños
    y contabilizar después los puntos conseguidos. Para añadir dificultad, se podría aumentar la distancia entre las
    marcas o bien lanzar el aro con el otro brazo.</div>

  <br>

  <div><video id="vidaros" controls="true" class="videos" src="../../static/videos/lanzamientodearos.mp4">
    </video>
  </div>


</div>
<!---------------------AROS--------------------->

<!---------------------PELOTA--------------------->
<div id="pelotacontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">La Pelota</h1>


  <div class="textoejercicios">Los juegos de pelota aportan muchos beneficios a las personas mayores. En la actividad que te proponemos, los
    participantes se juntarán en parejas y se pondrán uno enfrente del otro. El juego consistirá en pasarse la pelota
    con ambas manos. Para añadir variedad y dificultad, se aumentará la distancia. De igual modo, la persona tendrá que
    tocarse la oreja, el codo o la rodilla antes de recibir la pelota.</div>

  <br>

  <div><video id="vidpelota" controls="true" class="videos" src="../../static/videos/juegodepelota.mp4">
    </video>
  </div>


</div>
<!---------------------PELOTA--------------------->

<!---------------------ESPEJITO--------------------->
<div id="espejitocontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Espejito Espejito</h1>


  <div class="textoejercicios">En este juego realizado en parejas las risas están aseguradas, ya que uno de sus miembros tendrá que imitar las
    acciones del otro. Los movimientos deben requerir algo de complejidad, aunque en conveniente comenzar por
    movimientos sencillos. ¿Serás capaz de reflejar tus movimientos en el espejo?</div>

  <br>

  <div><video id="videspejito" controls="True" class="videos" src="../../static/videos/EspejitoEspejito.mp4">
    </video>
  </div>


</div>
<!---------------------ESPEJITO--------------------->

<!---------------------ESTATUA--------------------->
<div id="estatuacontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Estatua En Movimiento</h1>


  <div class="textoejercicios">Este juego se emplea para ejercitar la memoria. En él, una persona mayor se quedará inmóvil haciendo de estatua
    frente al resto de participantes. Después de que el grupo haya memorizado su postura, le darán la espalda a la
    estatua. Acto seguido la estatua cambiará su postura y los participantes, dándose la vuelta para observarle, tendrán
    que adivinar qué ha cambiado.</div>

  <br>

  <div><video id="videstatua" controls='true' class="videos" src="../../static/videos/Estatuaenmovimiento.mp4">
    </video>
  </div>


</div>
<!---------------------ESTATUA--------------------->


<div class="centrar varios">
  <!---------------------REGRESARES--------------------->
  <button id="Rdebrujula" class="boton">Regresar</button>
  <button id="Rdearos" class="boton">Regresar</button>
  <button id="Rdepelota" class="boton">Regresar</button>
  <button id="Rdeespejito" class="boton">Regresar</button>
  <button id="Rdeestatua" class="boton">Regresar</button>
  <!---------------------REGRESARES--------------------->
  <a class="action boton" href="{{ url_for('patrones.interfaces', pagina='interfaces') }}">Actividades</a>
</div>
<script type="text/javascript" src="../../static/js/Ejercicios.js"></script>
{% endblock %}