{% extends 'base.html' %} 
{% block header %}
<h1 class="centrar">{% block title %} Actividades psicológicas {% endblock %}</h1>
{% endblock %} {% block content %}
<div id="Mentales-subtitulos">

  <div class="centrar">
    <section class="Contenedor">
      <div id="Refran" class="Columna refran">
        <p>Puzzle refranes</p>
      </div>

      <div id="Oveja" class="Columna oveja">
        <p>Oveja y pareja</p>
      </div>

      <div id="Quien" class="Columna quien">
        <p>¿Quién es quien?</p>
      </div>
    </section>
  </div>
  <div class="centrar">
    <section class="Contenedor">
      <div id="Cancion" class="Columna artista">
        <p>Cancion Artista</p>
      </div>

      <div id="Palabra" class="Columna palabra">
        <p>Palabras encadenadas</p>
      </div>
    </section>
  </div>
  


</div>

<!---------------------REFRANES--------------------->
<div id="refranescontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Puzzle Refranes</h1>


  <div class="textoejercicios"> El refranero popular es un gran conocido de las personas que están en la tercera edad. Si estamos en grupo
    podemos poner todos los refranes partidos a la mitad desordenados encima de una mesa. El objetivo del juego es
    unirlos y formar el refrán correcto.</div>

  <br>

  <div><video id="vidrefranes" controls="true" class="videos" src="../../static/videos/refranes.mp4">
    </video>
  </div>


</div>
<!---------------------REFRANES--------------------->

<!---------------------OVEJA--------------------->
<div id="ovejacontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Oveja Y Pareja</h1>


  <div class="textoejercicios">Este es uno de esos juegos divertido para personas mayores. Es, además, muy simple de realizar. Encima de una
    mesa, colocaremos diversos objetos que a su vez son de diferentes categorías. De este modo, el participante debe
    agrupas los objetos de la misma categoría. ¿Y qué objetos podemos emplear? Aquí ya entra tu imaginación: puedes ser
    cereales, botones, canicas, legumbres, objetos para escribir</div>

  <br>

  <div><video id="vidoveja" controls="true" class="videos" src="../../static/videos/ovejas.mp4">
    </video>
  </div>


</div>
<!---------------------OVEJA--------------------->

<!---------------------QUIEN--------------------->
<div id="quiencontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">¿Quién es quien?</h1>


  <div class="textoejercicios">Hay un juego de mesa que simula este quién es quién que os proponemos. En un juego que es colectivo, una persona
    mayor se tapa los ojos. Un participante dirá una palabra, con la que la persona con la venda debe adivinar quién es.
    Si no lo consigue, el resto de participantes irán diciendo más pistas hasta dar con la persona.</div>

  <br>

  <div><video id="vidquien" controls="true" class="videos" src="../../static/videos/quien.mp4">
    </video>
  </div>


</div>
<!---------------------QUIEN--------------------->

<!---------------------CANCION--------------------->
<div id="cancioncontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Canción Artista</h1>


  <div class="textoejercicios">Debemos tomar las canciones más escuchadas del tiempo en el que las personas mayores eran jóvenes. Acto seguido,
    le daremos al play a alguna de esa canción durante un corto tiempo. En total, pondremos 10 canciones para este
    juego. Los participantes, anotarán en un papel el nombre de esa canción que cree que ha escuchado junto con el
    artista que la canta. El ganador del juego saldrá de la persona que haya conseguido más aciertos.</div>

  <br>

  <div><video id="vidcancion" controls="true" class="videos" src="../../static/videos/Cancion-Nombre.mp4">
    </video>
  </div>


</div>
<!---------------------CANCION--------------------->

<!---------------------PALABRAS--------------------->
<div id="palabrascontent" class="Columna inicio centrarcontenido">



  <h1 class="centrar">Palabras Encadenadas</h1>


  <div class="textoejercicios">Este juego consiste en ir encadenando palabras de tal forma que la última sílaba de una palabra sea el comienzo
    de la siguiente. Por ejemplo: me-sa, sa-le-ro, ro-pa, pa-lo-ma, y así sucesivamente. Esta actividad se puede
    realizar de forma individual o en grupo, en el que cada persona dice o escribe una palabra.</div>

  <br>

  <div><video id="vidpalabras" controls="true" class="videos" src="../../static/videos/palabras.mp4">
    </video>
  </div>


</div>
<!---------------------PALABRAS--------------------->


<div class="centrar varios">
  <!---------------------REGRESARES--------------------->
  <button id="Rderefranes" class="boton">Regresar</button>
  <button id="Rdeoveja" class="boton">Regresar</button>
  <button id="Rdequien" class="boton">Regresar</button>
  <button id="Rdecancion" class="boton">Regresar</button>
  <button id="Rdepalabras" class="boton">Regresar</button>

  <!---------------------REGRESARES--------------------->
  <a class="action boton" href="{{ url_for('patrones.interfaces', pagina='interfaces') }}">Actividades</a>
</div>

<script type="text/javascript" src="../../static/js/mentales.js"></script>
{% endblock %}