{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %} Chat Familiar {% endblock %}</h1>
<head>
  <link rel="stylesheet" href="static/stylech.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
  />
</head>

{% endblock %} {% block content %}

<body>
  <div class="containerch">
    <div class="msg-header">
      <div class="active">
        <h4>{{ g.user['username'] }}</h4>
      </div>
      <div class="header-icons">
        <i class="fas fa-phone"></i>
        <i class="fas fa-video"></i>
      </div>
    </div>

    <div class="chat-page">
      <div class="msg-inbox">
        <li>
          {% for mensaje in mensajes %} {% if mensaje['id'] == g.user['id'] %}
          <div class="received-chats">
            <div class="received-msg">
              <div class="received-msg-inbox">
                <p>{{ mensaje['Contentmsg'] }}</p>
                <!--TODO id del mensaje != logeado -->
                <span class="time"></span>
                  10:00 PM</span
                >
                <!--TODO-->
              </div>
            </div>
          </div>
          {% else %}
          <div class="outgoing-chats">
            <div class="outgoing-chats-msg">
              <p>{{ mensaje['Contentmsg'] }}</p>
              <!--TODO-->
              <span class="time"
                >10:00 PM</span
              >
              <!--TODO-->
            </div>
          </div>
          {% endif %} {% endfor %}
        </li>
      </div>
      <div class="msg-bottom">
        <a class="action boton" href="{{ url_for('patrones.index') }}"
          >Regresar</a
        >
        <form method="POST">
          <div class="input-group">
            <input
              type="message"
              name="message"
              id="message"
              class="form-control"
              placeholder="Escribe un mensaje"
              required
            />
            <div class="input-group-append">
              <input class="boton" type="submit" value="Enviar" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
