{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %} Control de Pensión - Nuevo Gasto {% endblock %}</h1>
{% endblock %} {% block content %}

<section class="form-register">
    <h2 class="centrar">Nuevo Gasto</h2>
  
    <form method="POST">
      <h3>Valor del gasto</h3>
      <input
        class="controls"
        type="text"
        name="valorgasto"
        id="valorgasto"
        placeholder="Valor Gasto...(COP)"
      />
      <h3>Concepto del gasto</h3>
      <input
        class="controls"
        type="text"
        name="conceptorgasto"
        id="conceptorgasto"
        placeholder="Concepto del Gasto"
      />
      <h3>Fecha del gasto</h3>
      <input
        class="controls"
        type="date"
        name="Fechagasto"
        id="Fechagasto"
      />
      <input class="boton" type="submit" value="Guardar" />
    </form>
  
    <ul id="elementoUl"></ul>
  </section>

  <div class="centrar">
    <a class="action boton" href="{{ url_for('patrones.Pension')}}">Volver</a>
  </div>
  {% endblock %}