{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %} Interfaces {% endblock %}</h1>
{% endblock %} {% block content %}
<div class="centrar">
  <section class="Contenedor">
    <div class="Columna fisicos">
      <a
        class="fill"
        href="{{ url_for('patrones.interfaces', pagina='actFisicas') }}"
        >Estimulantes Físicos</a
      >
    </div>

    <div class="Columna mentales">
      <a
        class="fill"
        href="{{ url_for('patrones.interfaces', pagina='actPsicologicas') }}"
        >Estimulantes Mentales</a
      >
    </div>

    <div class="Columna musica">
      <a
        class="fill"
        href="{{ url_for('patrones.interfaces', pagina='musica') }}"
        >Música ambiente</a
      >
    </div>
  </section>
</div>

<div class="centrar">
  <a class="action boton" href="{{ url_for('patrones.index') }}">Volver</a>
</div>
{% endblock %}
